/* responsive (reolution 1024)  de la page 'creer une note de frais' */
@media only screen and (max-width: 1024px){
   .centre{
       margin: auto 10vw;
   }

   .button{
       margin: auto 10vw !important;
   }

   .btn-block{
       width: 15vw;
   }

   .title{
       width: 65vw !important;
   }
}

/* responsive (reolution + de 1440px)  de la page 'creer une note de frais' */
@media only screen and (min-width: 1540px){
   .centre{
       margin: auto 25vw;
   }

   .title{
       width: 69vw;
   }
   .button{
       margin: auto 12vw;
   }
}

@media only screen and (width: 768px){
     .title{
       width: 42vw;
   }
}

/* responsive (resolution entre 1024 et 1440px) de la page de connexion */
@media only screen and (max-width: 1440px){
   .container{
       margin: auto 16vw;
   }
   .button{
       margin: auto 12vw;
   }
   .btn-block{
       width: 18vw;
   }
   .title{
       width: 67vw !important;
   }

   /* page accueil */
   #site-search{
       width: 79%;
       margin: auto 20px;
   }

   .btn-tab {
       margin: 0 15px !important;
       width: 75px;
       font-size: 12px;
   }

   .tri{
       font-size: 12px;
       width: 160px;
       margin-left: -4px;     
   }

   tbody {
       height: 250px;
   }
}