/****************** style du body de toutes les pages ******************************************/

body {
    background-color: #EDEDED;
}

/****************** CSS Specifique a la page : creation d'une note de frais *********************/

/* logo eco-semences */
.logo{
    margin-left: 120px;
}

/* logo + titre */
header{
    display:table;
}

/* titre : nouvelle note de frais */
.title{
    display:table-cell;
    width:75%;
    text-align: center;
    font-weight:bold;
}

/* chaque champ : label + input : exemple "libelle" */
.champ{
    margin: 40px;
}

/* le label de chaque champ */
label{
    width:120px;
    font-weight: bold;
}

/* les input relatifs a la TVA pour les centrer et les aligner */
#tva-dix, #tva-vingt{
    display: block;
    margin-left:124px;
    text-align:center;
    margin-bottom: 5px;
}

#tva-cinq{
    text-align: center;
}


/* les input et select de chaque champ, pour avoir la meme hauteur et largeur */
input, select{
    width:200px;
    height:30px;
}

/* les sections des champs et du commentaire, pour les placer en blocs */
.champs-gauche, .champs-droite{
    display:table-cell;
}

/* la section du centre, pour placer les champs gauche et droit cote a cote */
.centre{
    display:table;
    margin: auto 20vw;
}

/* le champ permettant de choisir un justificatif */
.input-file {
    width:325px;
}

/* le champ regroupant les boutons annuler, enregistrer et soumettre */
.champs-bas{
    display: table;
}
/* les boutons : annuler, enregistrer, soumettre, centre d'assistance */
.button{
    display: table-cell;
    margin: auto 9vw;
}

/* footer global pour toutes les pages */
footer{
    display:table;
}

/* contenu du footer */
.copyright{
    display: table-cell;
    width: 59%;
    text-align:center;
    font-style:italic;
    font-weight: bold;
}

.version{
    display: table-cell;
    width: 14%;
    text-align: right;
    font-size: 20px;
}